<p>Register and login page</p>

<div class="col-md-5">
<h1>Sign up page</h1>

<form action="/users" method="post">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<p>First Name
		<input type="text" name="user[first_name]">
	</p>
	<p>Last Name
		<input type="text" name="user[last_name]">
	</p>
	<p>Email
		<input type="text" name='user[email]'>
	</p>
	<p>Password
		<input type="password" name='user[password]'>
	</p>
	<p>Password Confirmation
		<input type="password" name='user[password_confirmation]'>
	</p>
	<p>
		<input type="submit" value="Register">
	</p>
</form>
</div>

<div class="col-md-5">
<p>Login page</p>
<form action="/sessions" method="post">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<p>Email
		<input type="text" name='email'>
	</p>
	<p>Password
		<input type="password" name='password'>
	</p>
	<p>
		<input type="submit" value="Log In">
	</p>
</form>

<!-- flash message  -->
<% if flash.any? %>
	<%= flash[:notice] %>
<% end %>

</div>
