<div class="jumbotron">
	<div class="container">
		<div class="row">
			<h1>Welcome, <%= @user.first_name %> <%= @user.last_name %></h1>
			<div class="col-md-4">
				<img src="..." alt="..." class="img-circle">
				<nav class="navbar navbar-default">
				  <div class="container-fluid">
				    
				    <!-- Collect the nav links, forms, and other content for toggling -->
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav nav-stacked">
				        <li><a href="#">Profile</a></li>
				        <li><a href="#">My Lesson Plans</a></li>
				        <li><a href="#">My Contributions</a></li>
				        <li><a href="#">Settings</a></li>
				        <li><a href="#">Support</a></li>
				        <li><a href="#">Community</a></li>
				        <li><a href="#">Contact Us</a></li>
				      </ul>
				      
				    </div><!-- /.navbar-collapse -->
				  </div><!-- /.container-fluid -->
				</nav>
			</div>
			<div class="col-md-8">

			</div>
		</div>
	</div>	
</div>